.chatbot {
  font-family: monospace;
  font-size: 16px;
  border-radius: 10px;
  box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.15);
  background: #f5f8fb;
  text-align: left;
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 20px;
  text-align: center;
  color: rgba(255, 255, 255);
  max-height: 60px;
  font-size: 1em;
  font-weight: bold;
  /* background-color: #002f50; */
}

.header span {
  font-size: 1.2em;
  line-height: normal;
}

.header p {
  margin: 0;
  font-size: 0.8em;
  color: rgba(255, 255, 255, 0.8);
}

.messages {
  width: 100%;
  height: 100%;
  font-size: 0.8em;
  overflow: auto;
  display: flex;
  flex-direction: column;
  padding: 10px 0px;
}

.message-container-bot {
  display: flex;
  align-items: start;
  width: 100%;
  padding-left: 5px;
}

.message-container-user {
  width: 100%;
}

.bot-icon {
  margin-top: 12px;
  width: 36px;
}

.bot-message-wrapper {
  display: flex;
  flex-direction: column;
}

.bot-message {
  float: left;
  padding: 15px 20px;
  margin: 5px;
  border-radius: 20px 20px 20px 1px;
  background: #4727ff;
  color: white;
  min-width: 40px;
}

.bot-options {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0 5px;
  gap: 5px;
}

.bot-options button {
  padding: 5px 10px;
  border-radius: 4px;
  border: 0;
  background: black;
  color: white;
  font-size: 0.7em;
  cursor: pointer;
}


.user-message {
  float: right;
  padding: 15px 10px;
  margin: 10px;
  border-radius: 20px 20px 1px 20px;
  background: #cccccc;
  color: black;
}

.input {
  position: relative;
}

.input > form > input[type="text"] {
  font-family: monospace;
  font-size: 0.8em;
  border: 0;
  border-radius: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top: 1px solid #eee;
  box-shadow: none;
  box-sizing: border-box;
  opacity: 1;
  outline: none;
  padding: 16px 52px 16px 10px;
  width: 100%;
  -webkit-appearance: none;
}

.input > form > input:focus {
  outline: none;
}

.input > form > button {
  background-color: transparent;
  border: 0;
  border-bottom-right-radius: 10px;
  box-shadow: none;
  cursor: pointer;
  fill: #4a4a4a;
  opacity: 1;
  outline: none;
  padding: 18px 16px 20px 16px;
  position: absolute;
  right: 0;
  top: 0;
}

@keyframes typing {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

.typing-indicator {
  display: inline-block;
  margin-left: 4px;
}

.typing-indicator-dot {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #ffffff;
  animation: typing 1.4s infinite;
}

.typing-indicator-dot:nth-child(2) {
  animation-delay: 0.2s;
}

.typing-indicator-dot:nth-child(3) {
  animation-delay: 0.4s;
}

